# Environment variables
.env

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Vector Database / Index files
# This is very important. Your DB can be large and shouldn't be in Git.
chroma_db/
faiss_index/
faiss_index_manual/

# IDE and OS specific files
.idea/
.vscode/
.DS_Store

# Streamlit
.streamlit/
